[user]
	name = jwtvfn
[user]
	email = jwtvfn@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[core]
	editor = '/c/Program Files/Sublime Text 3/sublime_text.exe' -n -w
